.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 32px;
}

.tweetForm {
  width: 100%;
}

.tweetsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
